<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>knn</title>
        <link rel="stylesheet" href="static/main.css"></script>

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <canvas id="main_canvas" width="640" height="480"></canvas>
                    <br>
                    <button id="toggle">Start</button>
                    <button id="clear" onclick="handle_clear_boxes()">Clear Boxes</button>
                    <span style="float: right;">Concurrent workers: <input id="n_concurrent_workers" type="number" value="{{ n_concurrent_workers }}" min="1" max="1000"/></span>
                    <br>
                    <div id="results"></div>
                </div>
                <div class="col-3">
                    <div id="stats" style="display: none;">
                        <b>Throughput:</b>
                        <hr size="1" style="color: d0d0d0;" />

                        <section id="elapsed_time">
                            <div id="text"></div>
                        </section>

                        <section id="progress">
                            <div id="text"></div>
                            <progress id="bar"/>
                        </section>

                        <section id="images_per_second_avg">
                            <div id="text"></div>
                            <progress id="bar"/>
                        </section>

                        <section id="images_per_second">
                            <div id="text"></div>
                            <progress id="bar"/>
                        </section>

                        <b>Cost:</b>
                        <hr size="1" style="color: d0d0d0;" />

                        <section id="total_cost">
                            <div id="text"></div>
                        </section>

                        <section id="cost_per_image">
                            <div id="text"></div>
                        </section>

                        <b>Perf Analysis:</b>
                        <hr size="1" style="color: d0d0d0;" />

                        <section id="time_breakdown"></section>
                    </div>

                    <div id="workers" style="display: none;">
                        <b>Workers:</b>
                        <section id="worker_distribution"></section>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="static/kmath.js"></script>
    <script type="text/javascript" src="static/klabel.js"></script>
    <script type="text/javascript">
    // Labeler
    const image_url_prefix = {{ image_url_prefix|tojson }};
    const images = {{ demo_images|tojson }};

    var labeler = new ImageLabeler;

    var main_canvas = document.getElementById("main_canvas");
    labeler.init(main_canvas);

    var image_data = [];

    for (const image of images) {
        var data = new ImageData;
        data.source_url = image_url_prefix + image;
        image_data.push(data);
    }

    labeler.load_image_stack(image_data);

    labeler.set_annotation_mode(Annotation.ANNOTATION_MODE_EXTREME_POINTS_BBOX);

    function handle_clear_boxes() {
        labeler.clear_boxes();
    }

    window.addEventListener("keydown", function(e) {
        if (e.target.tagName.toLowerCase() == "input") return;
        e.preventDefault();
        labeler.handle_keydown(e);
    });

    window.addEventListener("keyup", function(e) {
        if (e.target.tagName.toLowerCase() == "input") return;
        e.preventDefault();
        labeler.handle_keyup(e);
    });

    // Running state

    const poll_interval = 1000;  // ms
    let poll;

    let query_id = null;
    let prev_stats = {};
    let prev_workers = {};

    const start_query = (new_query_id) => {
        query_id = new_query_id;
        $("#toggle").html("Stop");
        $("#results").empty();
        $("#stats").show();
        $("#workers").show();

        // Repeatedly poll for updated results from server
        poll = setInterval(
            () => $.getJSON("/results", { query_id }, handle_results),
            poll_interval
        );
    }

    const end_query = () => {
        query_id = null;
        $("#toggle").html("Start");
        prev_stats = {};
        prev_workers = {};
        clearInterval(poll);
    }

    $("#toggle").click(() => {
        if (query_id) {  // Should end query
            let payload = { query_id };
            $("#toggle").html("...");
            $.ajax({
                url: "/stop",
                type: "PUT",
                data: JSON.stringify(payload),
                contentType: "application/json",
                success: end_query,
                error: () => $("#toggle").html("Stop"),
            });
        } else {  // Should start query
            let annotations = labeler.get_annotations()[labeler.get_current_frame_num()].annotations;
            if (annotations.length !== 1) {
                alert('Please draw exactly one box to define a query patch.');
                return;
            }

            let bbox = annotations[0].bbox;
            let source_image = labeler.get_current_frame().source_image;
            let patch = [
                // coordinates in normalized [0,1]^2 space,
                bbox.bmin.x, // x1
                bbox.bmin.y, // y1
                bbox.bmax.x, // x2
                bbox.bmax.y, // y2
            ];
            let payload = {
                n_concurrent_workers: parseInt($("#n_concurrent_workers").val()),
                template: {
                    image: images[labeler.get_current_frame_num()],
                    bucket: {{ image_bucket|tojson }},
                    patch,
                }
            };

            $("#toggle").html("...");
            $.ajax({
                url: "/start",
                type: "POST",
                data: JSON.stringify(payload),
                contentType: "application/json",
                success: (data) => start_query(data.query_id),
                error: () => $("#toggle").html("Start"),
            });
        }
    });

    // Results

    const handle_results = (data) => {
        if (!query_id) return;

        console.log(data);

        update_results(data.result);
        update_progress(data.progress);
        update_performance(data.performance);
        update_workers(data.perormance.workers);

        if (!data.running) end_query();  // stop when query is complete
    };

    const update_results = (results) => {
        if (!results) return;

        let result_html = "";

        if (results.length > 0) {
            let rank = 1;
            for (const result of results) {
                result_html += '<div>';
                result_html += '<div>'
                result_html += `(${rank}) ${result[1]}, score=${Number.parseFloat(result[0]).toFixed(6)}`;
                result_html += '<div>';
                result_html += `<img src="${image_url_prefix}${result['image_name']}" width="250" />`;
                if ('score_map' in result) {
                    result_html += `<img src="${image_url_prefix}${result['image_name'].png}" width="250" />`;
                }
                result_html += `</div>`;
                result_html += `</div>`;
                result_html += `</div>`;
                rank++;
            }
        } else {
            result_html += '<div>No results have come back yet.</div>';
        }

        $("#results").html(result_html);
    }

    // Performance analytics

    google.charts.load("current", {"packages":["corechart"]});

    const update_performance_stats = (stats) => {
        if (!stats) return;
        stats.ts = (new Date()).getTime();

        // total cost of computation
        update_stat_no_bar("elapsed_time", `Elapsed time: ${Math.round(stats.elapsed_time)} sec`);

        // Progress
        update_stat("progress",
                    `Processed ${stats.n_processed + stats.n_skipped} of ${stats.n_total} <br /> (skipped ${stats.n_skipped})`,
                    stats.n_processed + stats.n_skipped,
                    stats.n_total);

        // Images per second (overall)
        let images_per_second_avg = stats.n_processed / stats.elapsed_time;
        update_stat("images_per_second_avg",
                    `${images_per_second_avg.toFixed(1)} img/sec (overall)`,
                    images_per_second_avg,
                    100);

        // Images per second (recent)
        let images_per_second = make_derivative(stats, prev_stats, "images_per_second", (s) => s.n_processed);
        update_stat("images_per_second",
                    `${images_per_second.toFixed(1)} img/sec (recent)`,
                    images_per_second,
                    100);

        // total cost of computation
        update_stat_no_bar("total_cost", `Overall cost: $${stats.cost.toFixed(2)}`);

        // Cost per (successfully processed) image
        let cost_per_1k_images = stats.n_processed === 0 ? 0 : (1000 * stats.cost / stats.n_processed);
        update_stat_no_bar("cost_per_image", `Cost per 1K images: $${cost_per_1k_images.toFixed(4)}`);

        // Time breakdown pie chart
        let data = google.visualization.arrayToDataTable([
            ["", ""],
            ["Cloud Run Overhead (s)", stats.total_time - stats.gcr_time],
            ["Model Loading (s)",      stats.gcr_time - stats.request_time],
            ["I/O (s)",                stats.request_time - stats.compute_time],
            ["Compute (s)",            stats.compute_time],
        ]);
        let options = {
          title: "Average Request Breakdown",
          legend: "none"
        };
        let chart = new google.visualization.PieChart(document.getElementById("time_breakdown"));
        chart.draw(data, options);

        prev_stats = stats;
    };

    const update_workers = (workers) => {
        if (!workers) return;

        // # of chunks per worker histogram
        let data_array = [[""]];
        for (const n_chunks of Object.values(workers)) {
            data_array.push([n_chunks]);
        }
        let data = google.visualization.arrayToDataTable(data_array);
        let options = {
          title: "Chunks Per Worker",
          legend: "none",
          histogram: { hideBucketItems: true, },
        };
        let chart = new google.visualization.Histogram(document.getElementById("worker_distribution"));
        chart.draw(data, options);
    };

    // Helper functions

    // TODO(mihirg): Make this less hacky, potentially move to server?
    const make_derivative = (cur, prev, key, fn) => {
        if (!$.isEmptyObject(prev)) {
            // Take derivative
            cur[key] = (fn(cur) - fn(prev)) *        /* difference */
                       (1000 / (cur.ts - prev.ts));  /* 1 / dt (in seconds) */

            // Smooth with exponential moving average
            if (key in prev) {
                cur[key] = (prev[key] + cur[key]) / 2;
            }

            return cur[key];
        } else {
            return 0;
        }
    };

    const update_stat = (name, text, value, max) => {
        $(`#stats #${name} #text`).html(text);
        $(`#stats #${name} #bar`).attr({value, max});
    };

    const update_stat_no_bar = (name, text) => {
        $(`#stats #${name} #text`).html(text);
    };

    </script>

</html>
