<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>knn</title>
    </head>

    <body>
        <button id="toggle"></button>
        <ol id="results"></ol>
    </body>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        const server_url = "http://localhost:5000";
        const poll_interval = 500;  // ms

        let running = false;
        let poll;

        const set_running = (data) => {
            running = data.running;
            $("#toggle").html(running ? "Stop" : "Start");

            if (running) {
                $("#results").empty();
                poll = setInterval(
                    () => $.getJSON(server_url + "/results", display_results),
                    poll_interval
                );
            } else {
                clearInterval(poll);
            }
        };

        const display_results = (data) => {
            if (running) {
                let result_html = "";
                for (const result of data.results) {
                    result_html += `<li>${result}</li>`;
                }
                $("#results").html(result_html);
            }
        }

        $("#toggle").click(() => {
            $("#toggle").html("...");
            $.ajax({
                url: server_url + "/toggle",
                type: "POST",
                data: JSON.stringify({
                    image: "images/val2017/000000000139.jpg",
                    patch: [
                        0,   // x1
                        160, // y1
                        170, // x2
                        280  // y2
                    ]
                }),
                contentType: "application/json",
                success: set_running
            });
        });

        $.get(server_url + "/running", set_running);
    </script>

</html>
